[submodule "VCMP-LUA/vendor/lanes"]
	path = VCMP-LUA/vendor/lanes
	url = git@github.com:LuaLanes/lanes.git
[submodule "VCMP-LUA/vendor/asyncplusplus"]
	path = VCMP-LUA/vendor/asyncplusplus
	url = git@github.com:Amanieu/asyncplusplus.git
[submodule "VCMP-LUA/vendor/spdlog"]
	path = VCMP-LUA/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "VCMP-LUA/vendor/mariadb-connector-cpp"]
	path = VCMP-LUA/vendor/mariadb-connector-cpp
	url = git@github.com:mariadb-corporation/mariadb-connector-cpp.git
