[submodule "vendor/asyncplusplus"]
	path = vendor/asyncplusplus
	url = git@github.com:Amanieu/asyncplusplus.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/lanes"]
	path = vendor/lanes
	url = git@github.com:LuaLanes/lanes.git
